.company_info {
  height: 200px;
  background-color: #000000;
}

.logos_wrapper {
  width: 885px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 29px;
}

.copyright {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 400px) {
  .subscribe {
    height: 152px;
  }
  .subscribe h1 {
    font-size: 14px;
  }
  .form {
    width: 293px;
    height: 24px;
    border-radius: 4px;
  }
  .subscribe_input {
    font-size: 7px;
  }
  .subscribe_button {
    width: 92px;
    height: 24px;
    border-radius: 4px;
    font-size: 7px;
  }
  .company_info {
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .apple_group {
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 23px;
  }
  .copyright {
    font-size: 10px;
  }

}