html,
body {
  padding: 0;
  margin: 0;
  font-family: SF, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF';
  src: url('../asset/SF/SFPRODISPLAYBOLD.OTF');
  src: url('../asset/SF/SFPRODISPLAYMEDIUM.OTF');
  src: url('../asset/SF/SFPRODISPLAYREGULAR.OTF');
}