.container {
  background-color: #1C1C1C;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_desktop {
  margin-right: 138.5px;
  cursor: pointer;
}

.listContainer {
  display: flex;
  color: #FFFFFF;
  list-style-type: none;
}

.listContainer li {
  margin-right: 32px;
  cursor: pointer;
}

.second_list li:last-child {
  margin-right: 101px;
}

.vert_divider {
  width: 1px;
  height: 30px;
  background-color: #FFFFFF;
}

.icon {
  margin-right: 29px;
  cursor: pointer;

}
.icon:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 450px) {
  .container {
    height: 67px;
    justify-content: space-between;
    padding: 0 16px;
  }
  .listContainer, .icon, .vert_divider, .logo_desktop {
    display: none;
  }
}
@media only screen and (min-width: 450px) {
  .logo_mobile {
    display: none;
  }
  .menu {
    display: none;
  }
}