.subscribe {
  height: 352px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe h1 {
  font-weight: normal;
}

.form {
  width: 613px;
  height: 50px;
  border: 1px solid #AAAAAA;
  border-right: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subscribe_input {
  padding-left: 22px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  width: 80%;
}
.subscribe_input:focus {
  outline: none !important;
}

.subscribe_input::placeholder {
  color: #000000;
}

.subscribe_button {
  width: 193px;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .subscribe {
    height: 152px;
  }
  .subscribe h1 {
    font-size: 14px;
  }
  .form {
    width: 293px;
    height: 24px;
    border-radius: 4px;
  }
  .subscribe_input {
    font-size: 7px;
  }
  .subscribe_button {
    width: 92px;
    height: 24px;
    border-radius: 4px;
    font-size: 7px;
  }
}